body {
 background-color:grey;
}

td,th{
  padding:0.5em;
border: 1px double black;
}


.manolo {
border:double;
width: 100%;
max-width: 400px;
max-height: 200px;
height: 100%;
}

table {
  margin: auto;
 size: auto;
}

.labisi {
  width:200px;
  height:300px;
  float: right; margin-right: 10px; margin-left: 10px; margin-bottom: 10px;margin-top: 10px;
}

div {     
  box-shadow: 10px;
}

p {
font-style:italic;
font-size: large;
}

.box {
  background-image: url(../images/DSC_0501c.jpg);
  padding: 150px;
  margin: 25px;
  background-position-y: none;
  background-position-x: center;
  background-size: cover;
  background-position: bottom;
}

.ci{
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom:2px;
}

.ci2{
  margin-bottom: 25px;
  margin-left: 25px;
  margin-right: 25px;
}

.ci3{
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom:215px;
}

.partescamara{
max-width: 352px;
max-height: 351px;
float: right;
}

.llou{
margin-bottom: 10px;

}

.sail {
background-color: rgb(181, 204, 33);
margin: 70px;
padding: 50px;
text-align: center;
border: 1px solid #000000;
border-radius: 2px;
}

.sentro {
text-align: center;
}

.sentro2{
text-align: center;
background-color: #ffffff33;
padding: 5px;
}
.cuadrao {
  list-style-type:square;
}

.subrayado {
  background-color: rgba(233, 195, 145, 0.774);
}

.ujmm {
max-width: 421px; 
max-height: 200px;
min-width:217px ;
min-height: 100px;
width: 217px;
height: 100px;
}

footer{
  text-align: center;
  background-color: khaki;
  padding: 10px;
  }

.concepts{
margin-left: 20px;
margin-right: 20px;
background-color: rgba(255, 255, 255, 0.1);
border-radius: 5px;
}

.conseptoh{
  margin-left: 20px;
  margin-right: 20px;
  }


.list{
margin-left: 100px;
align-content: center;
}

.concepto{
background-color: #ffffffbb;
padding:5px;
margin: 70px;
margin-top: 40px;
}
  .botone{
      display: inline-block;
      text-align: center;
      padding: 5px;
      width:200px;
      border: 1px solid #111111;
      border-radius: 5px;
      color: #ffffff;
      font-size: larger;
      transition: 0.4s;
      background-color: rgba(255, 255, 255, 0.219);
      margin-left: 10px;
    }

  .botone:hover{
    background-color: rgba(0, 0, 0, 0.446);
    transition: 0.4s;
    transition-delay: 0.1s;
    transition-timing-function: ease;
    border: 1px solid #ffffff;
    padding: 15px;
  }

  nav ul{
    list-style: none;
    background-color: rgb(67, 131, 214);
    text-align: center;
    padding: 0;
    margin: 0;
  }

  .amanecer{
    background-color:   rgba(255, 196, 0, 0.507);
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #111111;
    margin-bottom: 10px;
  }

  .mediodia{
    background-color:   rgba(251, 253, 99, 0.507);
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #111111;
    margin-bottom: 10px;
  }
  .atardecer{
    background-color:   rgba(155, 36, 58, 0.507);
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #111111;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  footer{
    margin-top: 10px;
  }
  .flota{
    float: right;
  }

  audio{
    margin-bottom: 25px;
  }
  .toma{
    
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    object-fit: cover;
  }
 .poensima{
  position: relative;
  z-index: 1;
 }