body {
  background:rgb(207, 206, 192);
}

td,th {
  padding: 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.419);
}

table {
  margin: auto;
}


div {
  box-shadow: 10px;
}

p {
font-style:italic;
font-size: large;
}

.box {

background-image: url(images/DSC_0501c.jpg);
padding: 100px;
margin: 25px;
background-position-y: 25px;
background-position-x: center;
background-size: cover;
background-position: bottom;
}



